<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- Local DataSource that works in any environment -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"><value>${dataSource.driver}</value></property>
        <property name="username"><value>${dataSource.user}</value></property>
        <property name="password"><value>${dataSource.password}</value></property>
        <property name="url"><value>${dataSource.url}</value></property>
    </bean>

    <!-- (local) Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>

	<!-- Interactive Broker Aliases -->
	<alias name="ibOrderService" alias="orderService"/>
	<alias name="ibMarketDataService" alias="marketDataService"/>
    
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location"><value>/conf-base.properties</value></property>
		<property name="systemPropertiesModeName"><value>SYSTEM_PROPERTIES_MODE_OVERRIDE</value></property>
	</bean>  

</beans>
