<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="hibernate.connection.driver_class">
		org.gjt.mm.mysql.Driver
	</property>
	<property name="hibernate.connection.url">
		jdbc:mysql://localhost:3306/algoTrader
	</property>
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password">password</property>

	<property name="show_sql">false</property>
	<!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
	<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
	<property name="hibernate.cache.query_cache_factory">org.hibernate.cache.StandardQueryCacheFactory</property>
	<property name="hibernate.cache.use_query_cache">true</property>
	<property name="current_session_context_class">thread</property>
	<property name="hibernate.jdbc.batch_size">50</property>

	<mapping resource="com/algoTrader/entity/Position.hbm.xml" />
	<mapping resource="com/algoTrader/entity/Strategy.hbm.xml" />
	<mapping resource="com/algoTrader/entity/Transaction.hbm.xml" />
	<mapping resource="com/algoTrader/entity/WatchListItem.hbm.xml" />
	<mapping resource="com/algoTrader/entity/security/Security.hbm.xml" />
	<mapping resource="com/algoTrader/entity/security/SecurityFamily.hbm.xml" />
</session-factory>
</hibernate-configuration>
